<ion-modal-view>
    <ion-header-bar>
        <h1 class="title" translate>LABEL.SELECT_LANGUAGE</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>

          <ion-radio
               class="{{ 'LAYOUT.RADIO_STYLE' | translate }}"
               name="language"
               ng-value="'en'"
               ng-model="menu.language"
               ng-click="menu.selectLanguage('en')" >
               {{ 'LABEL.ENGLISH' | translate }}
          </ion-radio>

          <ion-radio
                class="{{ 'LAYOUT.RADIO_STYLE' | translate }}"
                name="language"
                ng-value="'ar'"
                ng-model="menu.language"
                ng-click="menu.selectLanguage('ar')" >
                {{ 'LABEL.ARABIC' | translate }}
          </ion-radio>

          <ion-radio
                class="{{ 'LAYOUT.RADIO_STYLE' | translate }}"
                name="language"
                ng-value="'fr'"
                ng-model="menu.language"
                ng-click="menu.selectLanguage('fr')" >
                {{ 'LABEL.FRENCH' | translate }}
          </ion-radio>

          <ion-radio
                class="{{ 'LAYOUT.RADIO_STYLE' | translate }}"
                name="language"
                ng-value="'es'"
                ng-model="menu.language"
                ng-click="menu.selectLanguage('es')" >
                {{ 'LABEL.SPANISH' | translate }}
          </ion-radio>

          <ion-radio
                class="{{ 'LAYOUT.RADIO_STYLE' | translate }}"
                name="language"
                ng-value="'pt'"
                ng-model="menu.language"
                ng-click="menu.selectLanguage('pt')" >
                {{ 'LABEL.PORTUGUESE' | translate }}
          </ion-radio>

          <ion-radio
                class="{{ 'LAYOUT.RADIO_STYLE' | translate }}"
                name="language"
                ng-value="'nl'"
                ng-model="menu.language"
                ng-click="menu.selectLanguage('nl')" >
                {{ 'LABEL.DUTCH' | translate }}
          </ion-radio>

          <ion-radio
                class="{{ 'LAYOUT.RADIO_STYLE' | translate }}"
                name="language"
                ng-value="'it'"
                ng-model="menu.language"
                ng-click="menu.selectLanguage('it')" >
                {{ 'LABEL.ITALIAN' | translate }}
          </ion-radio>

          <ion-radio
                class="{{ 'LAYOUT.RADIO_STYLE' | translate }}"
                name="language"
                ng-value="'de'"
                ng-model="menu.language"
                ng-click="menu.selectLanguage('de')" >
                {{ 'LABEL.GERMAN' | translate }}
          </ion-radio>

          <ion-radio
                class="{{ 'LAYOUT.RADIO_STYLE' | translate }}"
                name="language"
                ng-value="'ru'"
                ng-model="menu.language"
                ng-click="menu.selectLanguage('ru')" >
                {{ 'LABEL.RUSSIAN' | translate }}
          </ion-radio>

          <ion-radio
               class="{{ 'LAYOUT.RADIO_STYLE' | translate }}"
               name="language"
               ng-value="'zhs'"
               ng-model="menu.language"
               ng-click="menu.selectLanguage('zhs')" >
               {{ 'LABEL.CHINESE_SIMP' | translate }}
          </ion-radio>

          <ion-radio
               class="{{ 'LAYOUT.RADIO_STYLE' | translate }}"
               name="language"
               ng-value="'zht'"
               ng-model="menu.language"
               ng-click="menu.selectLanguage('zht')" >
               {{ 'LABEL.CHINESE_TRAD' | translate }}
          </ion-radio>

          <ion-radio
                class="{{ 'LAYOUT.RADIO_STYLE' | translate }}"
                name="language"
                ng-value="'jp'"
                ng-model="menu.language"
                ng-click="menu.selectLanguage('jp')" >
                {{ 'LABEL.JAPANESE' | translate }}
          </ion-radio>

          <ion-radio
               class="{{ 'LAYOUT.RADIO_STYLE' | translate }}"
               name="language"
               ng-value="'sw'"
               ng-model="menu.language"
               ng-click="menu.selectLanguage('sw')" >
               {{ 'LABEL.SWAHILI' | translate }}
          </ion-radio>

          <ion-radio
               class="{{ 'LAYOUT.RADIO_STYLE' | translate }}"
               name="language"
               ng-value="'hi'"
               ng-model="menu.language"
               ng-click="menu.selectLanguage('hi')" >
               {{ 'LABEL.HINDI' | translate }}
          </ion-radio>

        </ion-list>
    </ion-content>
</ion-modal-view>
