<ion-view class="{{ 'LAYOUT.STYLE' | translate }}">
    <ion-nav-title>
        <h1 class="title {{ 'LAYOUT.TITLE_STYLE' | translate }} click" ui-sref="app.shop">Vastershops</h1>
    </ion-nav-title>

    <ion-nav-buttons side="left">
      <button 
        ng-if="vm.language === 'ar'" 
        class="button button-icon button-clear ion-android-more-vertical"
        ng-click="links.show($event)">
      </button>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
      <button 
        ng-if="vm.language !== 'ar'" 
        class="button button-icon button-clear ion-android-more-vertical"
        ng-click="links.show($event)">
      </button>
    </ion-nav-buttons>

  <ion-header-bar class="tabs-striped tabs-top tabs-light bar-subheader no-padding">
  <tabs></tabs>
  </ion-header-bar>
  <ion-content>
    <ion-refresher
        pulling-text="{{ 'LABEL.REFRESH' | translate }}"
        on-refresh="refresh()"
        disable-pulling-rotation="true" >
    </ion-refresher>

    <div ng-show="vm.store && vm.store.active" class="item store-name">
      <h2 id="content-main">
        {{ vm.store.name }}
      </h2>
    </div>

    <button 
      nav-direction="forward" 
      style="background-color: #242E38;" 
      class="button button-positive button-modal sell-button" 
      ng-click="vm.new()">
      
      <i class="icon ion-android-add"></i>  {{ 'LABEL.SELL_NEW' | translate }}
    </button>

    <listings></listings>
    <ion-infinite-scroll
      ng-if="(vm.options.loaded + vm.options.skip) < vm.allposts && vm.paginate === false"
      icon="spiral"
      distance="1%"
      on-infinite="loadMore()" >
    </ion-infinite-scroll>
    <div ng-if="vm.paginate === true;" class="button-bar button-small button-light">
      <a
        ng-disabled="vm.options.skip === 0"
        ng-click="vm.back()"
        class="button icon-left ion-ios-arrow-back button-paginate"
        translate >
        LABEL.BACK
      </a>
      <a
        ng-disabled="( vm.options.skip + vm.options.loaded ) >= vm.allposts"
        ng-click="vm.next()"
        class="button icon-right ion-ios-arrow-forward button-paginate"
        translate >
        LABEL.NEXT
      </a>
    </div>
    </ion-content>
    
    <ion-footer-bar class="tabs-striped tabs-bottom tabs-light no-padding shop-footer">
      <tabs-bottom></tabs-bottom>
    </ion-footer-bar>

    <input
      type="file"
      style="display: none;"
      id="new-upload"
      ngf-select
      ngf-change="vm.onFileSelect($files)"
      ngf-multiple="false"
      ngf-allow-dir="false"
      ngf-resize="{width: 800, height: 800, quality: .7}"
      ngf-accept="'image/*'">
</ion-view>
