<!--
<ion-popover-view style="height: 157px; max-width: 210px;">
  <ion-content scroll="false">
    <ul class="list no-margin {{ 'LAYOUT.RADIO_STYLE' | translate }}">
      <ion-radio class="item click sort-selection" ng-click="vm.getSort('distance')" ng-model="vm.sort" ng-value="'distance'">
        <i class="fa fa-bullseye" aria-hidden="true"></i>&nbsp; {{ 'LABEL.DISTANCE' | translate }}
      </ion-radio>
      <ion-radio class="item click sort-selection" ng-click="vm.getSort('date')" ng-model="vm.sort" ng-value="'date'">
        <i class="fa fa-commenting" aria-hidden="true"></i>&nbsp; {{ 'LABEL.LATEST' | translate }}
      </ion-radio>
      <ion-radio class="item click sort-selection" ng-click="vm.getSort('price')" ng-model="vm.sort" ng-value="'price'">
        <i class="fa fa-barcode" aria-hidden="true"></i>&nbsp; {{ 'LABEL.SELLING_PRICE' | translate }}
      </ion-radio>
    </ul>
  </ion-content>
</ion-popover-view>
-->
