<ion-view class="{{ 'LAYOUT.STYLE' | translate }}" style="background-color: #FFF" view-title="">
  
  <ion-nav-title>
    <h1 class="title {{ 'LAYOUT.TITLE_STYLE' | translate }}">{{ 'LABEL.ABOUT' | translate }}</h1>
</ion-nav-title>

<ion-content style="max-width: 800px;" class="white">
        <div style="padding: 20px;">
            <!-- <h3 translate>LABEL.ABOUT</h3> -->

      <div ng-if="vm.language === 'en'">
        <div>
          <small><span style=
          "font-family:verdana,geneva,sans-serif;"><span style=
          "color: #999999;">Vastershops is an application that
          offers users to sell their products and services anywhere
          in the world and ideally around them. Users can post
          their requests for purchases of products, services or
          rent the services of a third party, hire and seek...
          &nbsp;<span>Vastershops app has the most modern tools of
          digital communication and includes a search engine that
          locates, for buyers, products and services thanks to the
          GPS system present on smartphones.&nbsp;</span></span><span style=
          "color: #999999;">Buyers know where the product / service
          is offered.</span></span></small>
          </div>
        <div>
          <small><span style=
          "font-family:verdana,geneva,sans-serif;"><span id=
          "result_box" lang="en" style="color: #999999;" xml:lang=
          "en"><span>Professionals and those who wish to do it can
          create their own Store with their brand and sell as many
          products as they want. It takes less than 10 seconds to
          create your shop. Go into profile, enter a name for your
          sign, choose an image in the gallery. You are done! Your
          shop is created! Buyers can sent their requests to the market.&nbsp;</span></span></span></small>
            <br />
          The application integrates a system of chat and
          messaging. Buyers can rate sellers after a certain number
          of transactions.
          </div>
         <p>
          <small><span style=
          "font-family:verdana,geneva,sans-serif;"><span style=
          "color: #999999;">Vastershops is primarly a B2B and B2C/C2B market for professionnals.</span></span></small>
        </p>
        <p>
          <small><span style=
          "font-family:verdana,geneva,sans-serif;"><span style=
          "color: #999999;">Vastershops © 2020 GmbH. <a href=
          "http://vastershops.com" style="color: #999999;" title=
          "Vastershops.com"><span style=
          "color: #008000;"><strong>vastershops.com</strong></span></a>
          . <span class="short_text" id="result_box" lang="en"
          xml:lang="en"><span>All rights
          reserved.</span></span></span></span></small>
        </p>
      </div>
      <div ng-if="vm.language === 'hi'">
        <p>
          <small><span style=
          "font-family: verdana,geneva,sans-serif;"><span style=
          "color: #999999;">Vastershops एक आवेदन है कि
उपयोगकर्ताओं को दुनिया में अपने उत्पादों और सेवाओं को मिल जाएगा
कहीं और बेचने की पेशकश करें
पास ही। उपयोगकर्ता अपने उत्पादों, सेवाओं को खरीदने के लिए
तीसरे पक्ष की सेवाओं का अनुरोध या किराया
किराया, किराया और पता लगा सकते हैं ...
Vastershops ऐप डिजिटल संचार का सबसे उन्नत उपकरण है और
इसमें एक खोज इंजन शामिल है, जिसमें खरीदारों, उत्पाद और शामिल हैं
स्मार्टफोन पर सेवाओं के लिए रूपरेखा
जीपीएस सिस्टम के लिए धन्यवाद, खरीदार जानता है कि उत्पाद /
सेवा कहाँ उपलब्ध है?</span></span></small>
        </p>
        <p>
          <small><span style=
          "font-family: verdana,geneva,sans-serif;"><span style=
          "color: #999999;">पेशेवर और जो लोग ऐसा करना चाहते हैं, वे
          अपने ब्रांड के साथ अपना खुद का स्टोर बना सकते हैं और
          जितना चाहें उतने उत्पाद बेच सकते हैं। आपकी दुकान बनाने
          में 10 सेकंड से भी कम समय लगता है। प्रोफ़ाइल में जाओ,
          अपने हस्ताक्षर के लिए एक नाम दर्ज करें, गैलरी में एक छवि
          चुनें। आप कर चुके हैं! आपकी दुकान बन गई है! दुकान के
          संकेतों में नाराज, आक्रामक, अनावश्यक अशिष्ट, नफरत को
          बढ़ावा देना, नस्लवाद, लिंगवाद या उन ब्रांडों के समान नहीं
          होना चाहिए जहां दुकान स्थित हैं। खरीदार अपने अनुरोध को
          बाजार में भेज सकते हैं<br />
          एप्लिकेशन चैट और मैसेजिंग की एक प्रणाली को एकीकृत करता
          है। कुछ लेनदेन के बाद खरीदार विक्रेताओं को रेट कर सकते
          हैं</span></span></small>
        </p>
        <p>
          <small><span style=
          "font-family: verdana,geneva,sans-serif;"><span style=
          "color: #999999;">सVastershops एक बाजार है जहां दुकानें सभी हैं
कुछ बेचे जाते हैं।</span></span></small>
        </p>
        <p>
          <small><span style=
          "font-family: verdana,geneva,sans-serif;"><span style=
          "color: #999999;">Vastershops © 2020 GmbH. <a style=
          "color: #999999;" title="Vastershops.com" href=
          "http://vastershops.com"><span style=
          "color: #008000;"><strong>vastershops.com</strong></span></a>.
          <span id="result_box" class="short_text" lang="en"
          xml:lang="en">सर्वाधिकार
          सुरक्षित।</span></span></span></small>
        </p>
      </div>
      <div ng-if="vm.language === 'fr'">
        <div>
          <span style="color:#a9a9a9;"><small><span style=
          "font-family:verdana,geneva,sans-serif;">Vastershops est
          une application qui offre aux utilisateurs la possibilité
          de vendre leurs produits et services partout dans le
          monde et idéalement autour d'eux. Les utilisateurs
          peuvent poster leurs demandes d'achat de produits ou
          services, ou louer les services d'un tiers, louer et
          échanger un appartement ou un objet... Vastershops
          dispose des outils les plus modernes de communication
          numérique et comprend un moteur de recherche qui
          localise, pour les acheteurs, les produits et services
          grâce au système GPS présent sur les smartphones. Les
          acheteurs savent où le produit / service est
          offert.</span></small></span>
        </div>
        <div>
          &nbsp;
        </div>
        <div>
          <span style="color:#a9a9a9;"><small><span style=
          "font-family:verdana,geneva,sans-serif;">Les
          professionnels et ceux qui le désirent peuvent créer leur
          propre magasin avec leur marque et vendre autant de
          produits qu'ils le souhaitent. Il faut moins de 10
          secondes pour créer sa boutique. Aller dans profil,
          entrer un nom pour votre enseigne, choisissez une image
          dans la galerie. C'est fait ! Votre boutique est créée!
          </span></small></span>
          <div>
            <span style="color:#a9a9a9;"><small><span style=
            "font-family:verdana,geneva,sans-serif;">Les acheteurs
            peuvent consulter ou envoyer leurs demandes au
            marché.</span></small></span>
          </div>
        </div>
        <div>
          <span style="color:#a9a9a9;"><small><span style=
          "font-family:verdana,geneva,sans-serif;">L'application
          intègre un système de chat et de
          messagerie.</span></small></span>
        </div>
        <div>
          <span style="color:#a9a9a9;"><small><span style=
          "font-family:verdana,geneva,sans-serif;">Les acheteurs
          peuvent évaluer les vendeurs après un certain nombre de
          transactions.</span></small></span>
        </div>
        <div>
          &nbsp;
        </div>
        <div>
          <span style="color:#a9a9a9;"><small><span style=
          "font-family:verdana,geneva,sans-serif;">Vastershops est principalement
          un marché B2B mais également un b2c/c2b de professionnels.</span></small></span>
        </div>
        <p>
          <small><span style=
          "font-family:verdana,geneva,sans-serif;"><span style=
          "color: #999999;">Vastershops © 2020 GmbH. <a href=
          "http://vastershops.com" style="color: #999999;" title=
          "Vastershops.com"><span style=
          "color: #008000;"><strong>vastershops.com</strong></span></a>.
          <span class="short_text" id="result_box" lang="en"
          xml:lang="en"><span>Tous droits réservés.</span></span></span></span></small>
        </p>
      </div>
      <div ng-if="vm.language === 'zhs'">
        <p>
          <small><span style=
          "font-family: verdana,geneva,sans-serif;"><span style=
          "color: #999999;">Vastershops是一个应用程序，提供用户在世界任何地方和理想的周围销售他们的产品和服务。用户可以张贴他们的要求购买产品，服务或租用第三方的服务，聘请和寻求...
          Vastershops应用程序拥有最现代的数字通信工具，并包括一个搜索引擎，为买家，产品和服务感谢智能手机上的GPS系统。买家知道产品/服务在哪里提供。</span></span></small>
        </p>
        <p>
          <small><span style=
          "font-family: verdana,geneva,sans-serif;"><span style=
          "color: #999999;">专业人员和那些希望做到这一点的人可以用他们的品牌创建他们自己的商店，并销售任意数量的产品。创建你的店铺需要不到10秒的时间。进入个人资料，输入您的标志的名称，在画廊中选择一个图像。你完成了！您的店铺已创建！店铺标志不得贬低，冒犯，不必要的粗俗，煽动仇恨，种族主义，性别歧视，或与在商店所在国正式注册的品牌相同。买家可以将其要求发送到市场。<br />

          该应用程序集成了聊天和消息传递系统。买家可以在一定数量的交易之后对卖家进行评级。</span></span></small>
        </p>
        <p>
          <small><span style=
          "font-family: verdana,geneva,sans-serif;"><span style=
          "color: #999999;">Vastershops是一个卖东西的商店市场。</span></span></small>
        </p>
        <p>
          <small><span style=
          "font-family: verdana,geneva,sans-serif;"><span style=
          "color: #999999;">Vastershops©2020 GmbH。<a style=
          "color: #999999;" title="Vastershops.com" href=
          "http://vastershops.com"><span style=
          "color: #008000;"><strong>vastershops.com</strong></span></a>。版权所有。</span></span></small>
        </p>
      </div>
      <div ng-if="vm.language === 'zht'">
        <p>
          <small><span style=
          "font-family: verdana,geneva,sans-serif;"><span style=
          "color: #999999;">Vastershops是一個應用程序，提供用戶在世界任何地方和理想的周圍銷售他們的產品和服務。用戶可以張貼他們的要求購買產品，服務或租用第三方的服務，聘請和尋求...
          Vastershops應用程序擁有最現代的數字通信工具，並包括一個搜索引擎，為買家，產品和服務感謝智能手機上的GPS系統。買家知道產品/服務在哪裡提供。</span></span></small>
        </p>
        <p>
          <small><span style=
          "font-family: verdana,geneva,sans-serif;"><span style=
          "color: #999999;">專業人員和那些希望做到這一點的人可以用他們的品牌創建他們自己的商店，並銷售任意數量的產品。創建你的店鋪需要不到10秒的時間。進入個人資料，輸入您的標誌的名稱，在畫廊中選擇一個圖像。你完成了！您的店鋪已創建！店鋪標誌不得貶低，冒犯，不必要的低俗，煽動仇恨，種族主義，性別歧視，或與在商店所在國正式註冊的品牌相同。買家可以將其要求發送到市場。<br />

          該應用程序集成了聊天和消息傳遞系統。買家可以在一定數量的交易之後對賣家進行評級。</span></span></small>
        </p>
        <p>
          <small><span style=
          "font-family: verdana,geneva,sans-serif;"><span style=
          "color: #999999;">Vastershops是一個賣東西的商店市場。</span></span></small>
        </p>
        <p>
          <small><span style=
          "font-family: verdana,geneva,sans-serif;"><span style=
          "color: #999999;">Vastershops©2020 GmbH。<a style=
          "color: #999999;" title="Vastershops.com" href=
          "http://vastershops.com"><span style=
          "color: #008000;"><strong>vastershops.com</strong></span></a>。版權所有。</span></span></small>
        </p>
      </div>
      <div ng-if="vm.language === 'sw'">
        <p>
          <small><span style=
          "font-family: verdana,geneva,sans-serif;"><span style=
          "color: #999999;">Vastershops ni maombi ambayo inatoa
          watumiaji kuuza bidhaa na huduma zao popote duniani na
          kwa hakika kuzunguka yao. Watumiaji wanaweza kutuma
          maombi yao ya ununuzi wa bidhaa, huduma au kukodisha
          huduma za mtu mwingine, kuajiri na kutafuta ... Programu
          ya Vastershops ina zana za kisasa zaidi za mawasiliano ya
          digital na inajumuisha injini ya utafutaji inayoweka, kwa
          wanunuzi, bidhaa na huduma shukrani kwa mfumo wa GPS
          uliopo kwenye simu za mkononi. Wanunuzi wanajua ambapo
          bidhaa / huduma hutolewa.</span></span></small>
        </p>
        <p>
          <small><span style=
          "font-family: verdana,geneva,sans-serif;"><span style=
          "color: #999999;">Wataalam na wale wanaotaka kufanya
          hivyo wanaweza kujenga Duka lao wenyewe na brand zao na
          kuuza bidhaa nyingi kama wanataka. Inachukua sekunde
          chini ya 10 kuunda duka lako. Ingia kwenye wasifu, ingiza
          jina la ishara yako, chagua picha katika nyumba ya sanaa.
          Umefanywa! Duka lako linaundwa! Dalili za duka haipaswi
          kuwa kiburi, hasira, zisizohitajika, huchea chuki,
          ubaguzi wa rangi, ngono au kuwa sawa na yale ya bidhaa
          zilizosajiliwa katika nchi ambako maduka yanapo. Wanunuzi
          wanaweza kutuma maombi yao kwenye soko.<br />
          Maombi huunganisha mfumo wa mazungumzo na ujumbe.
          Wanunuzi wanaweza kupima wauzaji baada ya idadi fulani ya
          shughuli.</span></span></small>
        </p>
        <p>
          <small><span style=
          "font-family: verdana,geneva,sans-serif;"><span style=
          "color: #999999;">Vastershops ni soko la maduka B2B.</span></span></small>
        </p>
        <p>
          <small><span style=
          "font-family:verdana,geneva,sans-serif;"><span style=
          "color: #999999;">Vastershops © 2020 GmbH. <a href=
          "http://vastershops.com" style="color: #999999;" title=
          "Vastershops.com"><span style=
          "color: #008000;"><strong>vastershops.com</strong></span></a>.
          <span class="short_text" id="result_box" lang="en"
          xml:lang="en"><span>Haki zote
          zimehifadhiwa.</span></span></span></span></small>
        </p>
      </div>
      <div ng-if="vm.language === 'es'">
        <p>
          <small><span style=
          "font-family: verdana,geneva,sans-serif;"><span style=
          "color: #999999;">Vastershops es una aplicación que
          ofrece a los usuarios vender sus productos y servicios en
          cualquier parte del mundo e idealmente a su alrededor.
          Los usuarios pueden publicar sus solicitudes de compra de
          productos, servicios o alquilar los servicios de un
          tercero, contratar e intercambiar ... Nuestra
          preocupación es la simplicidad del uso de la aplicación,
          que acercará a los compradores a los vendedores. La
          aplicación Vastershops tiene las herramientas más
          modernas de comunicación digital e incluye un motor de
          búsqueda que localiza, para compradores, productos y
          servicios gracias al sistema GPS presente en los
          teléfonos inteligentes. Los compradores saben dónde se
          ofrece el producto / servicio.</span></span></small>
        </p>
        <p>
          <small><span style=
          "font-family: verdana,geneva,sans-serif;"><span style=
          "color: #999999;">Los profesionales y aquellos que deseen
          hacerlo pueden crear su propia tienda con su marca y
          vender tantos productos como deseen. Lleva menos de 10
          segundos crear su tienda. Entra en el perfil, ingresa un
          nombre para tu signo, elige una imagen en la galería.
          Está hecho ! ¡Tu tienda ha sido creada! Los compradores pueden enviar sus solicitudes al
          mercado.<br />
          La aplicación integra un sistema de transaccion y
          mensajería.<br />
          Los compradores pueden calificar a los vendedores después
          de una cierta cantidad de
          transacciones.</span></span></small>
        </p>
        <p>
          <small><span style=
          "font-family: verdana,geneva,sans-serif;"><span style=
          "color: #999999;">Vastershops es un mercado de tiendas
          B2B y B2C/C2B.</span></span></small>
        </p>
        <p>
          <small><span style=
          "font-family: verdana,geneva,sans-serif;"><span lang="es"
          xml:lang="es"><span>Vastershops © 2020 GmbH. <a style=
          "color: #999999;" title="Vastershops.com" href=
          "http://vastershops.com"><span style=
          "color: #008000;"><strong>vastershops.com</strong></span></a>
          . <span id="result_box" class="short_text" lang="es"
          xml:lang="es">Todos los derechos
          reservados.&nbsp;</span></span></span></span></small>
        </p>
      </div>
      <div ng-if="vm.language === 'ar'">
        <p>
          <!-- #######  traduction du texte en HTML à partir du site http://demos.telerik.com/aspnet-ajax/editor/examples/righttoleft/defaultcs.aspx ! #########-->
        </p>
        <p style="text-align: right;">
         هذا التطبيق يتيح للمستخدمين فرصة بيع منتجاتهم وخدماتهم
          في أي مكان في العالم ومن الناحية المثالية من حولهم. يمكن
          للمستخدمين نشر طلبات الشراء الخاصة بهم للمنتجات أو
          الخدمات، أو استئجار خدمات طرف ثالث، الإيجار وتبادل شقة أو
          كائن ... Vastershops  يحتوي على أحدث أدوات الاتصال الرقمي ويشمل
          محرك البحث الذي يقع، للمشترين، والمنتجات والخدمات بفضل
          نظام غس الحاضر على الهواتف الذكية. المشترين يعرفون حيث
          يتم تقديم المنتج / الخدمة.
        </p>
        <p style="text-align: right;">
          يمكن للبائعين إنشاء متجرهم مع علاماتهم.&nbsp;يستغرق أقل
          من 10 ثانية لإنشاء متجرك. انتقل إلى الملف الشخصي، وأدخل
          اسما لعلامتك، واختر صورة في المعرض. انتهيت! يتم إنشاء
          المحل الخاص بك! <br />
          يمكن للمشترين عرض أو إرسال طلباتهم إلى السوق.<br />
          تطبيق يدمج نظام الدردشة والرسائل.<br />
          يمكن للمشترين تقييم الباعة بعد عدد معين من المعاملات.
        </p>
        <p style="text-align: right;">
      Vastershops هو سوق متاجير.
        <br />
          2020 <a href=
          "vastershops.com">vastershops.com</a>. جميع الحقوق
          محفوظة.
        </p>
      </div>
      <div ng-if="vm.language === 'nl'">
        <div>
          <div>
            <span style="color:#a9a9a9;"><small><span style=
            "font-family:verdana,geneva,sans-serif;">Vastershops is
            een applicatie die gebruikers de mogelijkheid biedt om
            hun producten en diensten overal ter wereld en
            idealiter om hen heen te verkopen. Gebruikers kunnen
            producten of diensten kopen of aanvragen, of de
            diensten van een derde partij huren, een appartement of
            object huren en ruilen ... Onze zorg is het
            gebruiksgemak van de applicatie, die kopers en de
            verkopers. Vastershops beschikt over de modernste tools
            voor digitale communicatie en bevat een zoekmachine
            die, dankzij het op smartphones aanwezige GPS-systeem,
            naar producten zoekt. Kopers weten waar het product /
            de dienst wordt aangeboden.</span></small></span>
          </div>
          <div>
            &nbsp;
          </div>
          <div>
            <span style="color:#a9a9a9;"><small><span style=
            "font-family:verdana,geneva,sans-serif;">Professionals
            en mensen die hun eigen winkel willen creëren met hun
            merk en zoveel producten verkopen als ze willen. Het
            duurt minder dan 10 seconden om uw winkel te maken. Ga
            naar profiel, voer een naam in voor uw bord, kies een
            afbeelding in de galerij. Het is klaar! Je winkel is
            gemaakt! </span></small></span>
          </div>
          <div>
            <span style="color:#a9a9a9;"><small><span style=
            "font-family:verdana,geneva,sans-serif;">Kopers kunnen
            hun applicaties op de markt zien of
            versturen.</span></small></span>
          </div>
          <div>
            <span style="color:#a9a9a9;"><small><span style=
            "font-family:verdana,geneva,sans-serif;">De applicatie
            integreert een systeem van chat en uitwisseling van
            berichten.</span></small></span>
          </div>
          <div>
            <span style="color:#a9a9a9;"><small><span style=
            "font-family:verdana,geneva,sans-serif;">Kopers kunnen
            verkopers na een bepaald aantal transacties
            evalueren.</span></small></span>
          </div>
          <div>
            &nbsp;
          </div>
          <div>
            <span style="color:#a9a9a9;"><small><span style=
            "font-family:verdana,geneva,sans-serif;">Vastershops is
            een winkelmarkt waar alles wordt
            verkocht.</span></small></span>
          </div>
        </div>
        <div>
          <span style="color:#a9a9a9;"><small><span style=
          "font-family:verdana,geneva,sans-serif;">Vastershops ©
          2020 GmbH.</span></small></span> <span style=
          "color:#006400;"><strong><small><span style=
          "font-family:verdana,geneva,sans-serif;"><a href=
          "http://vastershops.com">vastershops.com</a></span></small></strong></span>
          <span style="color:#a9a9a9;"><small><span style=
          "font-family:verdana,geneva,sans-serif;">. Alle Rechte
          vorbehalten.</span></small></span>
        </div>
      </div>
      <div ng-if="vm.language === 'de'">
        <div>
          <span style="color:#a9a9a9;"><small><span style=
          "font-family:verdana,geneva,sans-serif;">Vastershops ist
          eine Anwendung, die Anwendern die Möglichkeit bietet,
          ihre Produkte und Dienstleistungen überall auf der Welt
          und idealerweise um sie herum zu verkaufen. Benutzer
          können ihre Anfragen für Produkte oder Dienstleistungen
          kaufen oder die Dienste einer dritten Partei mieten, eine
          Wohnung oder ein Objekt mieten und tauschen ... Unser
          Anliegen ist die Benutzerfreundlichkeit der Anwendung,
          die den Käufern der Verkäufer zur Verfügung steht.
          Vastershops verfügt über die modernsten Tools für die
          digitale Kommunikation und enthält eine Suchmaschine, die
          dank des auf Smartphones vorhandenen GPS-Systems Käufer
          und Produkte sucht. Käufer wissen, wo das Produkt / die
          Dienstleistung angeboten wird.</span></small></span>
        </div>
        <div>
          &nbsp;
        </div>
        <div>
          <span style="color:#a9a9a9;"><small><span style=
          "font-family:verdana,geneva,sans-serif;">Profis und
          Menschen, die mit ihrer Marke ein eigenes Geschäft
          aufbauen und so viele Produkte verkaufen wollen, wie sie
          wollen. Es dauert weniger als 10 Sekunden, um Ihren Shop
          zu erstellen. Gehe ins Profil, gib einen Namen für dein
          Schild ein, wähle ein Bild in der Galerie. Es ist fertig!
          Ihr Geschäft ist erstellt! </span></small></span>
        </div>
        <div>
          <span style="color:#a9a9a9;"><small><span style=
          "font-family:verdana,geneva,sans-serif;">Käufer können
          ihre Anwendungen auf dem Markt anzeigen oder
          senden.</span></small></span>
        </div>
        <div>
          <span style="color:#a9a9a9;"><small><span style=
          "font-family:verdana,geneva,sans-serif;">Die Anwendung
          integriert ein System von Chat und
          Nachrichtenaustausch.</span></small></span>
        </div>
        <div>
          <span style="color:#a9a9a9;"><small><span style=
          "font-family:verdana,geneva,sans-serif;">Käufer können
          Verkäufer nach einer bestimmten Anzahl von Transaktionen
          bewerten.</span></small></span>
        </div>
        <div>
          &nbsp;
        </div>
        <div>
          <span style="color:#a9a9a9;"><small><span style=
          "font-family:verdana,geneva,sans-serif;">Vastershops ist
          ein Einzelhandelsmarkt, auf dem alles verkauft
          wird.</span></small></span>
        </div>
        <div>
          <span style="color:#a9a9a9;"><small><span style=
          "font-family:verdana,geneva,sans-serif;">Vastershops ©
          2020 GmbH.</span></small></span> <span style=
          "color:#006400;"><strong><small><span style=
          "font-family:verdana,geneva,sans-serif;"><a href=
          "http://vastershops.com">vastershops.com</a></span></small></strong></span><span style="color:#a9a9a9;"><small><span style="font-family:verdana,geneva,sans-serif;">.
          Alle Rechte vorbehalten.</span></small></span>
        </div>
      </div>
      <div ng-if="vm.language === 'it'">
        <div>
          <small><span style=
          "font-family:verdana,geneva,sans-serif;"><span style=
          "color:#a9a9a9;">Vastershops è un'applicazione che offre
          agli utenti l'opportunità di vendere i loro prodotti e
          servizi in qualsiasi parte del mondo e idealmente intorno
          a loro. Gli utenti possono acquistare o richiedere
          prodotti o servizi, o affittare i servizi di terzi,
          affittare e scambiare un appartamento o un oggetto ... La
          nostra preoccupazione è la facilità di utilizzo
          dell'applicazione, che riunisce acquirenti e i venditori.
          Vastershops ha gli strumenti più moderni per la
          comunicazione digitale e contiene un motore di ricerca
          che, grazie al sistema GPS presente sugli smartphone,
          ricerca i prodotti. Gli acquirenti sanno dove viene
          offerto il prodotto / servizio.</span></span></small>
        </div>
        <div>
          &nbsp;
        </div>
        <div>
          <small><span style=
          "font-family:verdana,geneva,sans-serif;"><span style=
          "color:#a9a9a9;">Professionisti e persone che vogliono
          creare il proprio negozio con il proprio marchio e
          vendere tutti i prodotti che vogliono. Ci vogliono meno
          di 10 secondi per creare il tuo negozio. Entra nel
          profilo, inserisci un nome per il tuo segno, scegli
          un'immagine nella galleria. È fatto! </span></span></small>
        </div>
        <div>
          <small><span style=
          "font-family:verdana,geneva,sans-serif;"><span style=
          "color:#a9a9a9;">Gli acquirenti possono vedere o inviare
          le loro applicazioni al mercato.</span></span></small>
        </div>
        <div>
          <small><span style=
          "font-family:verdana,geneva,sans-serif;"><span style=
          "color:#a9a9a9;">L'applicazione integra un sistema di
          chat e lo scambio di messaggi.</span></span></small>
        </div>
        <div>
          <small><span style=
          "font-family:verdana,geneva,sans-serif;"><span style=
          "color:#a9a9a9;">Gli acquirenti possono valutare i
          venditori dopo un certo numero di
          transazioni.</span></span></small>
        </div>
        <div>
          &nbsp;
        </div>
        <div>
          <small><span style=
          "font-family:verdana,geneva,sans-serif;"><span style=
          "color:#a9a9a9;">Vastershops è un mercato al dettaglio in
          cui tutto è venduto. </span></span></small>
        </div>
        <div>
          <small><span style=
          "font-family:verdana,geneva,sans-serif;"><span style=
          "color:#a9a9a9;">Vastershops © 2020 GmbH. <a href=
          "http://vastershops.com"><strong>vastershops.com</strong></a>.
          Tutti i diritti riservati.</span></span></small>
        </div>
      </div>
      <div ng-if="vm.language === 'pt'">
        <p>
          Vastershops é uma aplicação que oferece aos usuários para
          vender seus produtos e serviços em qualquer lugar do
          mundo e idealmente ao seu redor. Os usuários podem
          publicar seus pedidos de compras de produtos, serviços ou
          alugar os serviços de terceiros, contratar e trocar ...
          Nossa preocupação é a simplicidade do uso da aplicação,
          que trará os compradores mais perto dos vendedores. O
          aplicativo Vastershops possui as mais modernas
          ferramentas de comunicação digital e inclui um mecanismo
          de busca que localiza, para compradores, produtos e
          serviços, graças ao sistema GPS presente em smartphones.
          Os compradores sabem onde o produto / serviço é
          oferecido.
        </p>
        <p>
          Os profissionais e aqueles que desejam fazê-lo podem
          criar sua própria loja com sua marca e vender tantos
          produtos quanto quiserem. Demora menos de 10 segundos
          para criar sua loja. Entre no perfil, insira um nome para
          o seu sinal, escolha uma imagem na galeria. Está pronto!
          Sua loja é criada! <br />
          O aplicativo integra um sistema de bate-papo e mensagens.
          Os compradores podem avaliar os vendedores após um certo
          número de transações.
        </p>
        <p>
          Vastershops é um mercado de lojas B2B.
        </p>
        <p>
          Vastershops © 2020 GmbH. <small><a title=
          "Vastershops.com" href=
          "http://vastershops.com"><strong>vastershops.com</strong></a>.</small>
          Todos os direitos reservados.
        </p>
      </div>
      <div ng-if="vm.language === 'jp'">
        <p>
          Vastershopsは、世界中のどこにいても、理想的にはその製品やサービスをユーザーに販売するアプリケーションです。ユーザーは、製品、サービスの購入やサードパーティのサービスを借りて賃貸して請求することができます。Vastershopsアプリは、最も最新のデジタル通信ツールを備えており、バイヤー、製品、サービスの検索エンジンを備えていますスマートフォンに搭載されているGPSシステムのおかげです。バイヤーは製品/サービスが提供されている場所を知っています。
        </p>
        <p>
          専門家とそれをやりたい人は、自分のブランドで自分の店を作り、好きなだけ多くの商品を売ることができます。あなたのお店を作るのに10秒もかかりません。プロフィールに移動し、サインの名前を入力し、ギャラリーで画像を選択します。あなたは終わった！あなたのお店が作成されました！店の看板は、嫌悪感、不快感、不必要な下品、憎しみ、人種差別、性差別嫌悪、または店がある国に正式に登録されているブランドと同一であってはならない。バイヤーは市場に要求を送ることができます。<br />

          このアプリケーションは、チャットとメッセージングのシステムを統合しています。バイヤーは一定数の取引の後に売り手を評価することができます。
        </p>
        <p>
          Vastershopsは、すべてが販売されている店舗の市場です。
        </p>
        <p>
          Vastershops©2018 GmbH。 vastershops.com。全著作権所有。
        </p>
      </div>
      <div ng-if="vm.language === 'ru'">
        <div>
          <small><span style=
          "font-family:verdana,geneva,sans-serif;"><span style=
          "color:#a9a9a9;">Vastershops - это приложение, предлагающее
          пользователям возможность продавать свои продукты и
          услуги в любой точке мира и в идеале вокруг них.
          Пользователи могут покупать или запрашивать продукты или
          услуги или арендовать услуги третьей стороны, арендовать
          и обменивать квартиру или объект ... Наша забота - это
          простота использования приложения, которое объединяет
          покупателей и продавцов. Vastershops имеет самые
          современные инструменты для цифровой связи и содержит
          поисковую систему, которая благодаря системе GPS,
          присутствующей на смартфонах, осуществляет поиск
          продуктов. Покупатели знают, где предлагается продукт /
          услуга.</span></span></small>
        </div>
        <div>
          &nbsp;
        </div>
        <div>
          <small><span style=
          "font-family:verdana,geneva,sans-serif;"><span style=
          "color:#a9a9a9;">Профессионалы и люди, которые хотят
          создать свой собственный магазин со своим брендом и
          продавать столько продуктов, сколько захотят. Для
          создания магазина требуется менее 10 секунд. Войдите в
          профиль, введите имя для своего знака, выберите
          изображение в галерее. Это сделано! Ваш магазин создан!
          Названия магазинов не должны быть уничижительными,
          оскорбительными, вульгарными, разжигать ненависть,
          расизм, сексизм или быть такими же, как у
          зарегистрированных брендов в странах, где расположены
          магазины.</span></span></small>
        </div>
        <div>
          <small><span style=
          "font-family:verdana,geneva,sans-serif;"><span style=
          "color:#a9a9a9;">Покупатели могут видеть или отправлять
          свои заявки на рынок.</span></span></small>
        </div>
        <div>
          <small><span style=
          "font-family:verdana,geneva,sans-serif;"><span style=
          "color:#a9a9a9;">Приложение объединяет систему чата и
          обмена сообщениями.</span></span></small>
        </div>
        <div>
          <small><span style=
          "font-family:verdana,geneva,sans-serif;"><span style=
          "color:#a9a9a9;">Покупатели могут оценить продавцов после
          определенного количества
          транзакций.</span></span></small>
        </div>
        <div>
          &nbsp;
        </div>
        <div>
          <small><span style=
          "font-family:verdana,geneva,sans-serif;"><span style=
          "color:#a9a9a9;">Vastershops - это рынок, где все продается....</span></span></small>
        </div>
        <div>
          <small><span style=
          "font-family:verdana,geneva,sans-serif;"><span style=
          "color:#a9a9a9;">Vastershops © 2020 GmbH.</span>
          <strong><span style=
          "color:#006400;">vastershops.com</span></strong><span style="color:#a9a9a9;">.
          Все права сохранены.</span></span></small>
        </div>
      </div>
    </div>
    <p>
      <button ui-sref="app.shop" style=
      "padding-left: 20px; margin: 0px;" class=
      "button button-clear button-light button-custom" translate=
      "">LABEL.BACK_HOME</button>
      <br>
        <br>
  </p>
</ion-content>
</ion-view>
